@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --navbar-background-color : rgba(90, 16, 11, 0.8);
    --navbar-text-color : #fff ; 
    --font_family: 'Poppins', sans-serif !important;
    --bgButton: rgba(251, 196, 144, 1);
    --textColor: green;
    --headingColor: rgba(90, 16, 11, 0.8);
}


* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    text-transform: capitalize !important;
    padding: 7px 10px !important;
}
.css-taic0u{
    border-radius: 10px;
    border-color: white !important;
}

.mainButton {
    color: var(--textColor) !important;
    border-radius: 15px !important;
    background-color: var(--bgButton) !important;
    text-transform: capitalize !important;
}
.mainButton:hover {
    color: white !important;
    border-radius: 15px !important;
    background-color: var(--bgButton) !important;
    text-transform: capitalize !important;

}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    min-height: auto !important;
}