.Footerparent .css-heg063-MuiTabs-flexContainer{
    display: block !important;
}

.footerend{
    padding: 13px !important;
}


/* Media query start here details component   */

@media screen and (max-width: 376px) {
    .reportParent{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
  }

