.home_container {
    background-color: rgb(255 255 255);
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font_family);
    /* background-image: url('https://cdn.wallpapersafari.com/82/17/maoFMA.jpg'); */
    
}

.home_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

}

.home_logo>span {
    padding: 0 16px;
}

.report-heading {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}