.opt_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255);
}

.otp_wrapper {
    /* width: 100%; */
    padding: 20px;
    border: 1px solid rgb(52, 50, 50);
    border-radius: 8px;
}

.PhoneInputInput {
    padding: 15px;
    border-radius: 8px;
}

.btn-div {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.send_otp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.otp-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.otp-btn>input {
    padding: 15px;
    border-radius: 8px;
}

.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
    padding: 15px !important;
    max-width: 150px !important;
    width: 100% !important;
}

.verify-otp-btn {
    text-align: end;
}

#recaptcha-container {
    margin: 0 0 10px 40px !important;
}

@media(max-width:1920px){
    #recaptcha-container {
        width: 350px !important;
    }
}

@media(max-width:1440px){
    #recaptcha-container {
        width: 350px !important;
    }
}

@media(max-width:1024px){
    #recaptcha-container {
        width: 340px !important;
    }
}

@media(max-width:768px){
    #recaptcha-container {
        width: 335px !important;
    }
}

@media(max-width:500px){
    .otp_wrapper {
        /* max-width: 400px; */
        width: 100%;
        padding: 20px;
        border: 1px solid rgb(52, 50, 50);
        border-radius: 8px;
    }
}

@media(max-width:376px){
    #recaptcha-container {
        width: 320px !important;
    }
}