.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: capitalize !important;
    font-size: 20px !important;
    /* font-weight: 600 !important; */
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
    /* font-size: 25px !important; */
    font-weight: 500 !important;
    border-radius: 8px;
    background-color: #2e7d32;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: transparent !important;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: space-between;
    flex-wrap: wrap !important;
    background-color: rgb(225, 230, 234);
    border-radius: 8px;
}

.tab_div_main {
    padding: 20px 0%;
}

.report-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 10px;
}

.report-details>span {
    font-size: 20px;
    font-weight: 600;

}

.search-input {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.search-input .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    width: 100px !important;
}