.MainParent {
    background-color: #0d0d0d;
}

.allcategoryParent{
    width: 90%;
    margin: auto;
}

.tabParent {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
}

.SearchParent {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.TextParent {
    text-align: center !important;
    align-items: center;
    justify-content: center;
    display: flex;
}



.activity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

.blink {
    color: red;
    -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}


.noblink {
    margin-right: 0.5rem;
}

.fullReportBtn {
    text-align: center;
    padding-top: 10px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: capitalize !important;
}

.completeBox {
    background-color: rgb(149 92 92 / 72%);
    border-radius: 20px;
}

.TabChild {
    color: var(--buttonTextColor) !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    /* color: var(--textColor) !important; */
    border-radius: 15px;
    background-color: var(--bgButton);
}


.css-1q2h7u5.Mui-selected {
    color: var(--textColor) !important;
    border-radius: 15px;
    background-color: var(--bgButton)
}

.css-1q2h7u5.Mui-selected:hover {
    color: white !important;
    border-radius: 15px;
    background-color: var(--bgButton)
}

.css-1q2h7u5 {
    min-height: unset !important;
    text-transform: capitalize;
}

.css-ttwr4n {
    background-color: unset !important
}

.css-1aquho2-MuiTabs-indicator {
    background-color: transparent !important;
}

.css-heg063-MuiTabs-flexContainer {
    flex-wrap: wrap !important;
    border-radius: 15px;
    padding: 0 24px;
    justify-content: space-between;
}

.css-k008qs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
    border-radius: 15px;
    padding: 0 24px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 15px !important;
}

.tab_div_main {
    padding: 20px 0%;
}

.report-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 10px;
}

.report-details>span {
    font-size: 20px;
    font-weight: 600;

}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input fieldset {
    border-radius: 15px;
    height: auto;
    border-color: white;
}

.search-input fieldset:hover {
    border-color: white;
    outline: none;
}

.SearchTextfield {
    width: 230px;
    color: white !important
}

.search-input label {
    color: white !important;
    text-align: center;
}

.search-input input {
    color: white !important;
}

.search-input .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
    width: 100px !important;
    color: white !important;
}


/* Media query start here for 1441   */

@media screen and (max-width: 1441px) {}

/* Media query end here for 1441   */

/* Media query start here for 1025   */

@media screen and (max-width: 1025px) {}

/* Media query end here for 1025   */

/* Media query start here for 769   */

@media screen and (max-width: 769px) {}

/* Media query end here for 769   */

/* Media query start here for 730   */

@media screen and (max-width: 730px) {

    .mainParentSeachBox .search-input {
        display: block;
        margin-top: 10px !important;
    }

    .mainParentSeachBox .searchButton {
        margin-top: 20px !important;
    }
}

/* Media query end here for 730   */

/* Media query start here for 650   */

@media screen and (max-width: 650px) {


    .mainParentSeachBox .search-input {
        display: block;
        margin-top: 10px !important;
    }

    .mainParentSeachBox .searchButton {
        margin-top: 20px !important;
    }
}

/* Media query start here for 650   */

/* Media query start here for 500   */


@media screen and (max-width: 560px) {


    .mainParentSeachBox .search-input {
        display: block;
        margin-top: 10px !important;
    }

    .mainParentSeachBox .searchButton {
        margin-top: 20px !important;
    }
}

/* Media query end here for 500   */

/* Media query start here for 425   */

@media screen and (max-width: 426px) {


    .mainParentSeachBox .search-input {
        display: block;
        margin-top: 10px !important;
    }

    .mainParentSeachBox .searchButton {
        margin-top: 20px !important;
    }
}

/* Media query end here for 425   */

/* Media query start here for 375   */

@media screen and (max-width: 376px) {


    .mainParentSeachBox .search-input {
        display: block;
        margin-top: 10px !important;
    }

    .mainParentSeachBox .searchButton {
        margin-top: 20px !important;
    }

    .mainParentSeachBox .SearchTextfield {
        width: 200px;
    }

    .mainParentSeachBox .search-input label {
        font-size: 14px;
    }

}

/* Media query end here for 375   */