:root{
    --navbar-background-color : rgba(90, 16, 11, 0.8);
    --navbar-active-tab-color : #5A5A5A ; 
    --navbar-text-color : #fff ; 
    --navbar-icon-color : #5A5A5A ; 
    --font-size: 14px;
    --text-color: white;
    --text-color : black;
    --font-family: "Roboto","Helvetica","Arial",sans-serif;
}