/* .home_container {
    color: black;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--font-family) !important;
} */

.home_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paperStyle {
    margin: 0 auto;
    position: relative;
    padding: 30px;
}

.addcategory_icon {
    position: absolute;
    right: 5%;
    top: 7%;
    cursor: pointer;
}

.css-7klmyb {
    /* height: auto !important;
    overflow-y:unset !important; */
    min-width: 320px !important;
}

.headerStyle {
    color: green;
}

.otp-verification {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.css-mhc70k-MuiGrid-root{
    margin-left: -12px !important;
}
.mt{
    margin-top: 20px !important;
}