.home_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FormChild {
    display: flex;
    justify-content: center;
}


.paperStyle {
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px !important;
}

.FormParent {
    padding: 3% 10% !important;
}

.css-isbt42 {
    display: block !important;
}

.otp-verification {
    width: 100%;
    margin: auto;
}

.addcategory_icon {
    position: absolute;
    right: 2%;
    top: 0%;
    cursor: pointer;
}

.css-7klmyb {
    min-width: 320px !important;
}

.headerStyle {
    color: var(--headingColor);
    padding: 10px !important;
}

.otp-verification {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.css-mhc70k-MuiGrid-root {
    margin-left: -12px !important;
    display: block !important;

}

.date .css-llg55a-MuiFormLabel-root-MuiInputLabel-root {
    position: absolute !important;
    top: -25px !important;
}

.date .css-18kpda5 {
    position: absolute !important;
    top: -25px !important;
}

.addFirst {
    overflow: auto;
    height: 400px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.addFirst::-webkit-scrollbar {
    display: none;
}

.mt {
    margin-top: 20px !important;
}

@media screen and (max-width: 1920px) {

    .FormParent {
        width: 600px;
    }
}


@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {

    .FormParent {
        padding: 5% 5% !important;
    }
}

@media screen and (max-width: 768px) {

    .FormParent {
        padding: 1% 5% !important;
    }
}

@media screen and (max-width: 650px) {
    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        letter-spacing: 0px !important;
    }

    .otp-verification {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .otp-verification {
        width: 100%;
    }
}

@media screen and (max-width: 470px) {

    .css-1g395jg {
        max-width: 100% !important;
    }

    .otp-verification {
        width: 100%;
    }

    .d-flex {
        display: block !important;
    }
}


@media screen and (max-width: 426px) {
    .css-1g395jg {
        max-width: 100% !important;
    }

    .otp-verification {
        width: 100%;
    }

    .FormParent {
        padding: 1% 5% !important;
    }

    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        letter-spacing: 0px !important;
    }
}

@media screen and (max-width: 376px) {
    .css-1g395jg {
        max-width: 100% !important;
    }

    .otp-verification {
        width: 100%;
    }

    .otp_wrapper {
        width: 100% !important;
    }

    .FormParent {
        padding: 1% 5% !important;
    }

    /* .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        padding-top: 0px !important;
    } */

    .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        letter-spacing: 0px !important;
    }
}