.hedaerParent .css-heg063-MuiTabs-flexContainer{
    /* background-color: #1976d2; */
    background-color: #5A100B;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #5A100B !important;
}

.headerText{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: inherit;
}